<!DOCTYPE html>
<html lang="en">
<head>
    <title>Movie - Home</title>
</head>

<body>
    <h1>Welcome to the home page</h1>
    <h2>Here you will find all the movies you like</h2>
    <h3>sign to to make this happen</h3>
    <form>
        <input type="text" name="userName">
        <input type="password" name="passWord">
        <input type="submit" value="Loginn">
    </form>
    <img src="/images/Hesho.jpg", alt="">
</body>
</html>