<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url("/images/movies-background1.jpeg");
            background-repeat: no-repeat;
            background-size: 100%;
        }
        h1{
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px black;
        }
        .cont{
            color: white;
            position: relative;
            left: 600px;
            top: 50px;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXcbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Welcome to our entertainment site!</h1>
        <h1>Here you will find all the movies you like</h1>
        <h2>Sign in to make this happen</h2>
    </div>
    <div class="cont">
        <form>
            <input type="text" name="userName">
            <br>
            <input type="password" name="password">
            <br><br>
            <input type="submit" value="Login">
        </form>
        <a href="registration">Don't Have an acoount? Create One!</a> 
    </div>
</body>
</html>