<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url("/images/registerBackground.png");
            background-repeat: no-repeat;
            background-size: 100%;
        }
        h1{
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px blue;
        }
        a{
            color: white;
        }
        .cont{
            color: white;
            position: relative;
            left: 600px;
            top: 50px;
            -webkit-text-stroke: 0.5px black;
        }
    </style>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXcbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Register an account</h1>
    </div>
    <div class="cont">
        <form method="post" action="/register">
            First Name: <br>
            <input type="text" id="fname" name="firstname"><br>
            Last Name: <br>
            <input type="text" id="lname" name="lastname"><br>
            Email: <br>
            <input type="text" id="email" name="email"> <br>
            Username: <br>
            <input type="text" id="user" name="username"><br>
            Password: <br>
            <input type="password" id="password" name="password"><br><br><br>
            <input type="submit" class="btn btn-secondary" id="simple_click" value="Register"><br>
            <br><br>
        <a href="login">Back to login</a> 
        </form>
    </div>
</body>
</html>