<header>
  <nav>
    <a href="/">MyMovies</a>
    <ul>
      <li><a href="/movies">Movies</a></li>
      <li><a href="/movies/new">Add Movie</a></li>
      <li><a href="/api/actors">Actors</a></li>
      <li><a href="/api/actors/new">Add Actor</a></li>
    </ul>
  </nav>
</header>
